.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  border: 2px solid #ccc;
  border-radius: 4px;
  height: 30px;
  padding: 0 10px;
}

input:focus-visible {
  outline: lightblue;
  border: 2px solid lightblue;
}
